<div id="hd">
    	<div class="hd-top">
            <h1 class="logo"><a href="javascript:;" class="logo-icon"></a></h1>
            <div class="user-info">
                <a href="javascript:;" class="user-avatar"><span><i class="info-num">2</i></span></a>
                <span class="user-name">admin</span>
                <a href="javascript:;" class="more-info"></a>
            </div>
            <div class="setting ue-clear">
            	<div class="setting-skin">
                	<div class="switch-bar">
                    	<i class="skin-icon"></i>
                        <span class="text">皮肤</span>
                        <i class="arrow-icon"></i>
                    </div>
                </div>
                <ul class="setting-main ue-clear">

                    <li><a href="http://www.w3school.com">帮助</a></li>
                    <li><a href="/login/" class="close-btn exit"></a></li>
                </ul>
            </div>
        </div>
        <div class="hd-bottom">
        	<i class="home"><a href="javascript:;"></a></i>
        	<div style="text-align: center;color: #5cb85c;font-size: 18px;font-weight: bold">
             欢迎光临
            </div>
            <div class="nav-btn">
            	<a href="javascript:;" class="nav-prev-btn"></a>
                <a href="javascript:;" class="nav-next-btn"></a>
            </div>
        </div>
    </div>